*.csv
*.txt
.dockerignore
.idea

input/
dataset/

pipeline/.cache
graph-builder/app/pipeline/stages/__pycache__
graph-builder/app/pipeline/stages/temp/*
pipeline/input

*/.vscode
*/__pycache__

.env
question-answering/test/.env.test
