services:
  graph-builder:
    build:
      context: ./graph-builder
    volumes:
      - llm-models:${MODELS_DIR}
    image: ${PROJECT_PREFIX}-builder
    ports:
      - "8055:8055"
    env_file: .env
    environment:
      - HF_HOME=${MODELS_DIR}
      - HF_HUB_CACHE=${MODELS_DIR}
    tty: true
    stdin_open: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
  qa-service:
    build:
      context: ./question-answering
    image: ${PROJECT_PREFIX}-qa-service
    env_file: .env
    ports:
      - "8000:8000"
  client:
    build:
      context: ./client
    image: ${PROJECT_PREFIX}-client
    ports:
      - "8501:8501"

volumes:
  llm-models: {}
    